<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <title>Github Jobs</title>
  <script src="https://unpkg.com/vue@next" defer></script>
  <script type="module" src="app.js" defer></script>
</head>
<body id="app" class="bg-ligth-body">
  <!-- H E A D E R  -->
  <!-- H E A D E R  -->
  <!-- H E A D E R  -->
  <div id="header" class="header-img mx-auto my-0">
    <div class="container pt-4 d-flex justify-content-between">
      <p class="header-title h2 fw-bold">devjobs</p>
      <div class="d-flex align-items-center gap-2">
        <img src="starter-code/assets/desktop/icon-sun.svg" alt="">
        <div class="form-check form-switch">
          <input @click="toggleTheme" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
        </div>
        <img src="starter-code/assets/desktop/icon-moon.svg" alt="">
      </div>
    </div>
  </div>

<!-- S E A R C H  B A R -->
<!-- S E A R C H  B A R -->
<!-- S E A R C H  B A R -->
  <div id="search-bar" class="container mb-4" v-if="!showMoreInfo">
    <div class="d-flex align-items-center justify-content-center rounded">
      <div class="py-3 px-4 border-end flex-fill" :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme}">
        <label class="mx-2"><img src="starter-code/assets/desktop/icon-search.svg" alt=""></label>
        <input class="border-0 w-75 px-4" :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme}" type="text" placeholder="Filter by title, companies, expertise" v-model="filterName" @keyup.enter="getJobs" key="description" />
      </div>
      <div class="py-3 px-3 border-end" :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme}">
        <label class="mx-2"><img src="starter-code/assets/desktop/icon-location.svg" alt=""></label>
        <input class="border-0" :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme}" @keyup.enter="getJobs" type="text" v-model="filterLocation" placeholder="Filter by location..." key="location" />
      </div>
      <div class="py-3 px-4 flex-fill d-flex justify-content-around" :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme}">
        <div class="form-check p-0">
          <input class="form-check-input p-0 checkbox-1" type="checkbox" id="flexCheckDefault" key="checkbox" checked >
          <label class="form-check-label p-0 text-dark-gray" for="flexCheckDefault">
            Full Time Only
          </label>
        </div>
        <button class="btn btn-primary button-1">Search</button>
      </div>
    </div>
  </div>

<!-- J O B  L I S T  C O N T A I N E R -->
<!-- J O B  L I S T  C O N T A I N E R -->
<!-- J O B  L I S T  C O N T A I N E R -->
  <div class="d-flex justify-content-around align-items-center flex-wrap container" v-if="!showMoreInfo">
    <div v-for="(job, index) in jobList" class="my-4"  :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme}">
      <div @click="getMoreInfo(index)" class="job-item p-2 px-4">
        <div class="logo-container d-flex justify-content-center align-items-center">
          <img class="logo" :src="job.company_logo" alt="company-logo" />
        </div>
        <div>
          <p class="text-dark-gray">
            {{ timeSince(job.created_at) }} · {{ job.type}}
          </p>
          <p class="h6 fw-bold" :class="{'text-light': darkTheme}">{{job.title}}</p>
          <p class="text-dark-gray">{{job.company}}</p>
          <p class="text-violet fw-bold">{{job.location}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container d-flex justify-content-around align-items-center m-4" v-if="!showMoreInfo">
    <button @click="showMoreJobs" class="btn btn-primary button-1">Show More</button>
  </div> -->

<!-- S E L E C T E D  J O B  D E T A I L S -->
<!-- S E L E C T E D  J O B  D E T A I L S -->
<!-- S E L E C T E D  J O B  D E T A I L S -->
  <div id="job-details" v-if="showMoreInfo">
    <div class="container mx-auto m-2">
      <button class="btn btn-primary button-1 pr-4" @click="showMoreInfo = false">Go Back</button>
    </div>
    <div class="container d-flex align-items-center justify-content-between px-5" :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme}">
      <div class="d-flex justify-content-start align-items-center m-0">
        <div class="m-0 p-0">
          <img class="logo-details m-0" :src="imgCompany" alt="">
        </div>
        <div class="mx-4">
          <p class="h2 fw-bold" :class="{'text-light': darkTheme}">{{ nameCompany }}</p>
        </div>
      </div>
      <div class="p-4">
        <a class="btn btn-primary button-1" :href="urlCompany">Company Site</a>
      </div>
    </div>
    <div class="container p-5 m-4 mx-auto" :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme, 'text-light': darkTheme}">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column">
          <p class="date">
            {{ timeSince(time) }} · {{ type }}
          </p>
          <p class="h2 fw-bold" :class="{'text-light': darkTheme}">{{ title }}</p>
          <p class="text-violet fw-bold">{{ location }}</p>
        </div>
        <a class="btn btn-primary button-1" :href="urlCompany">Apply Now</a>
      </div>
      <div>
        <p v-html="description"></p>
      </div>
    </div>
    <div class="footer-img p-5 container text-light">
      <p class="text-light link-light" v-html="howToApply"></p>
    </div>
    <div class="d-flex justify-content-around align-items-center mt-4 py-4" :class="{'bg-light': !darkTheme, 'bg-dark': darkTheme}">
      <div class="p-2">
        <p class="fw-bold m-0 p-0" :class="{'text-light': darkTheme}">{{ title }}</p>
        <p class="m-0 p-0" :class="{'text-light': darkTheme}"> {{ nameCompany }}</p>
      </div>
      <a class="btn btn-primary button-1" :href="urlCompany">Apply Now</a>
    </div>
  </div>
</body>
</html>