:root {
    --violet: rgb(91, 104, 250);
    --light-violet: rgb(147, 155, 244);
    --very-dark-blue: rgb(25, 32, 45);
    --midnight: rgb(18, 23, 23);

    --white: rgb(255, 255, 255);
    --light-grey: rgb(244, 246, 248);
    --gray: rgb(157, 174, 194);
    --dark-grey: rgb(110, 128, 152);

    --typo: 'Kumbh Sans', sans-serif;
}

html {
    font-family: var(--typo);
}

body {
    background-color: var(--light-grey);
}

a {
    color: var(--violet);
}

.link-light {
    color: var(--white);
}


.logo-container {
    width: 50px;
    height: 50px;
    margin-top: -2.5rem;
}

.logo {
    height: 25px;
    
}

.logo-details {
    height: 70px;
    width: auto;

}

.job-item {
    width: 350px;
    height: 228px;
}

.header-img {
    height: 161px;
    background-image: url(starter-code/assets/mobile/bg-pattern-header.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-img {
    background-image: url(starter-code/assets/mobile/bg-pattern-detail-footer.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-light {
    background-color: white;
}

.bg-ligth-body {
    background-color: var(--light-grey);
}

.bg-dark-body {
    background-color: var(--midnight);
}

.bg-dark {
    background-color: var(--very-dark-blue);
}

.text-light {
    color: white;
}

.text-light-gray {
    color: var(--light-grey);
}

.text-dark-gray {
    color: var(--dark-grey);
}

.text-violet {
    color: var(--violet);
}

.header-title {
    color: white;
}

.button-1 {
    background-color: var(--violet);
}

.button-1:hover {
    background-color: var(--light-violet);
}

.checkbox-1:checked{
    background-color: var(--violet);
}


@media (min-width: 481px) {
    .header-img {
        background-image: url(starter-code/assets/tablet/bg-pattern-header.svg);
    }
}

@media (min-width: 769px) {
    .header-img {
        background-image: url(starter-code/assets/desktop/bg-pattern-header.svg);
        background-size: contain;
        background-position: top;
    }
    
    .footer-img {
        background-image: url(starter-code/assets/desktop/bg-pattern-detail-footer.svg);
    }
}