:root {
    --violet: rgb(158, 127, 102);
    --light-violet: rgb(147, 155, 244);
    --very-dark-blue: rgb(25, 32, 45);
    --midnight: rgb(18, 23, 23);

    --white: rgb(255, 255, 255);
    --light-grey: rgb(244, 246, 248);
    --gray: rgb(157, 174, 194);
    --dark-grey: rgb(110, 128, 152);

    --typo: 'Kumbh Sans', sans-serif;
}

html {
    font-family: var(--typo);
}

body {
    background-color: #F2F2F2;
}

.job-item {
    width: 350px;
    height: 228px;
}


.header-img {
    height: 161px;
    background-image: url(starter-code/assets/mobile/bg-pattern-header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.footer-img {
    background-image: url(starter-code/assets/mobile/bg-pattern-detail-footer.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-light {
    background-color: white;
}

.text-light {
    color: white;
}

.header-title {
    color: white;
}

@media (min-width: 481px) {
    .header-img {
        background-image: url(starter-code/assets/tablet/bg-pattern-header.svg);
    }
}

@media (min-width: 769px) {
    .header-img {
        background-image: url(starter-code/assets/desktop/bg-pattern-header.svg);
        background-size: contain;
    }
    
    .footer-img {
        background-image: url(starter-code/assets/desktop/bg-pattern-detail-footer.svg);
    }
}